<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <!-- Deliberately no INTERNET, advertising ID, broad storage, or camera permission. -->

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyRead.System"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".platform.CaptureContentProvider"
            android:authorities="${applicationId}.captures"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>
